* {
    margin: 0px;
    padding: 0px;
    outline: 0;
}

header {
    text-align: center;
    padding: 15px;
    margin-bottom: 25px;
}

#wrapper {
    width: 85%;
    min-height: 600px;
    margin: 0px auto;
    background-color: #F4F4F4;
}

#header {
    width: 100%;
    margin: 0px auto;
}

#content {
    background-color: #f1f1f1;
}

.flex-container {
    display: flex;
}

.side {
    flex: 45%;
    padding: 20px;
    color: #fff;
}

.main {
    flex: 55%;
    padding: 20px;
}

.box {
    border-radius: 25px;
    border: 2px solid rgb(12, 61, 215);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    height: 70%;
}

#shellfish > img {
    width: 50%;
}

.speech-bubble {
    position: relative;
    background: rgb(12, 61, 215);
    border-radius: .4em;
    padding: 15px;
    margin-left: 40%;
    text-align: center;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top-color: rgb(12, 61, 215);
    border-bottom: 0;
    border-left: 0;
    margin-left: -12.5px;
    margin-bottom: -25px;
}